* {
    box-sizing: border-box;
}

html {
    font-family: "Figtree", sans-serif;
    font-size: 1em;
    height: 100dvh;
    background-color: var(--Yellow);
}

body {
    margin: 0;
    height: 100%;
}

/* STYLE GUIDE */
:root {

    /* Main Colors */
    --Yellow: #F4D04E;
    --Gray-950: #111111;
    --Gray-500: #6B6B6B;
    --White: #FFFFFF;


    /* Typography */

    /* Figtree */
    --figtree-line-height: 150%;
    --figtree-letter-spacing: 0px;

    /* Spacing */
    --large-spacing: 1.5rem;
    --medium-spacing: 0.75rem;
    --small-spacing: 0.5rem;
    --xtra-small-spacing: 0.25rem;
}

/* Main Styling */

.card-container {
    position: relative;
    top: 15dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    min-height: 31.1875rem;
    min-width: 20rem;
    margin: 0 auto;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 9px 9px 1px var(--Gray-950);
}

.card-img-container {
    min-height: 12.5rem;
    min-width: 17.4375rem;
    margin: var(--large-spacing);
    border-radius: 10px;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-details {
    margin-left: 1.5rem;
    height: 100%;
}

.card-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5625rem;
    height: 1.625rem;
    background-color: var(--Yellow);
    border-radius: 4px;
    color: var(--Gray-950);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: var(--figtree-line-height);
    letter-spacing: var(--figtree-letter-spacing);
}

.publish-date {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: var(--figtree-line-height);
    letter-spacing: var(--figtree-letter-spacing);
}

.card-title > h1 {
    color: var(--Gray-950);
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: var(--figtree-line-height);
    letter-spacing: var(--figtree-letter-spacing); 
}

.card-desc > p {
    margin: 0;
    color: var(--Gray-500);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: var(--figtree-line-height);
    letter-spacing: var(--figtree-letter-spacing);
}

.publish-date,
.card-title,
.card-desc {
    padding-top: var(--medium-spacing);
}

.card-footer > img {
    height: 2rem;
}

.card-footer {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.75rem; 
    width: 8.0625rem;
    height: 2rem;
    color: var(--Gray-950);
    font-size: 0.875rem;
    font-weight: bold;
    line-height: var(--figtree-line-height);
    letter-spacing: var(--figtree-letter-spacing);
}

/* ============
    Media Queries
    =========== */

@media (min-width: 375px) {
    .img-tag {
        max-height: 1.3125rem;
        max-width: 3.625rem;
    }

    .card-container {
        max-height: 32.625rem;
        max-width: 24rem;
    }

    .card-img-container {
        max-width: 21rem;
    }
}